
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<html>
<head>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
        $('a.retrieve').click(function() {
          $.ajax({
              url: 'http://webjetapitest.azurewebsites.net/api/cinemaworld/movies',
              type: 'GET',
              data: { key: 'sjd1HfkjU83ksdsm3802k', full: true, cinema: 33 },
              dataType: 'jsonp', // Setting this data type will add the callback parameter for you
              success: parseFilms
          });
        });

        $('a.clear').click(function() {
            $('span.film.count').text('0');
            $('ol.film.list').empty();
        });
      });

      function parseFilms(response, status) {
        var html = '';

        // Check for errors from the server
        if (response.errors) {
            $.each(response.errors, function() {
                html += '<li>Error' + this + '</li>';
            });
        } else {
            $('span.film.count').text(response.films.length);
            $.each(response.films, function() {
                html += '<li>' + this.title + ' (' + this.classification + ')</li>';
            });
        }

        // Faster than doing a DOM call to append each node
        $('ol.film.list').html(html);
      }
    </script>
</head>
<body>
    <a class="retrieve" href="#retrieve">Retrieve</a>
    <a class="clear" href="#clear">Clear</a>
    <span class="film count"></span>
    <ol class="film list"></ol>
</body>
</html>

@*$(document).ready(function() {
            $('a.retrieve').click(function() {
              $.ajax({
                  url: 'http://webjetapitest.azurewebsites.net/api/cinemaworld/movies',
                  type: 'GET',
                  data: { key: 'sjd1HfkjU83ksdsm3802k', full: true, cinema: 33 },
                  dataType: 'jsonp', // Setting this data type will add the callback parameter for you
                  success: parseFilms
              });
            });

            $('a.clear').click(function() {
                $('span.film.count').text('0');
                $('ol.film.list').empty();
            });
          });

          function parseFilms(response, status) {
              var html = '';


            // Check for errors from the server
            if (response.errors) {
                $.each(response.errors, function() {
                    html += '<li>Error' + this + '</li>';
                });
            } else {
                $('span.film.count').text(response.films.length);
                $.each(response.films, function() {
                    html += '<li>' + this.title + ' (' + this.classification + ')</li>';
                });
            }

            // Faster than doing a DOM call to append each node
            $('ol.film.list').html(html);
          }
        </script>
    </head>
    <body>
        <a class="retrieve" href="#retrieve">Retrieve</a>
        <a class="clear" href="#clear">Clear</a>
        <span class="film count"></span>
        <ol class="film list"></ol>
    </body>
    </html>*@